#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(102, 100, 88, 0.633);
}

header {
  display: flex;
  padding: 0px 23px 0px 23px;
  border: 0.5rem groove rgb(129, 128, 125);
  margin-bottom: 2rem;
  color: rgb(220, 220, 220);
  min-width: 300px;
  background-image: url("./assets/images/header-bg.jpg");
}

.headshot {
  max-height: 200px;
  border: 2px solid black;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 8px rgb(122, 151, 247);
  justify-content: flex-end;
}

.my-name,
.my-title,
.alma-mater {
  color: white;
  font-weight: bolder;
  text-shadow: 2px 1px 8px rgb(71, 112, 237);
  font-size: 20px;
}
.my-title,
.alma-mater {
  padding-left: 0.5rem;
}

.my-name {
  font-size: 40px;
}

/** NavBar Section */

.nav--tabs {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(7, 6, 4);
  border-radius: 5px;
}

.nav-item {
  padding: 10px;
  list-style-type: none;
  color: white;
}

.nav-link-active {
  color: rgb(71, 112, 237);
}

/** ProjectCard Section */

.project--section {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
  margin: 3rem;
}

.project--card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 300px;
  background-color: rgb(47, 84, 101);
  border: 2px solid silver;
  border-radius: 12px;
}

.card--header {
  margin-bottom: 1rem;
  border-radius: 8px 8px 0px 0px;
}

.card--header,
.card--footer {
  background-color: rgb(190, 157, 11);
}

.card--footer {
  border-radius: 0px 0px 8px 8px;
}

.card--title {
  display: flex;
  justify-content: center;
  color: rgb(47, 84, 101);
  font-size: 20px;
  padding-top: 8px;
}

.card--image {
  height: 230px;
  margin: 0rem 0.5rem 0rem 0.5rem;
  border: 1px solid rgb(217, 184, 38);
}

.card--desc {
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  font-style: oblique;
  line-height: 1.5rem;
  margin: 1rem;
  height: 120px;
  color: white;
}

.card--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  color: white;
  font-family: Arial;
  line-height: 1rem;
}

.git--icon {
  display: flex;
  max-width: 2rem;
}

/** About Me Section */

.aboutme--block {
  display: flex;
  align-items: center;
  margin: 3rem;
}

.aboutme--text {
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/** Resume Section */

.resume {
  margin: 3rem;
}

/** Contact Section */

.contact {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  line-height: 40px;
}

.email--link,
.linkedin--link,
.github--link {
  text-decoration: none;
}

.phone--number {
  margin: 0;
}
